.rootOverride > div > div {
  box-shadow: none;
  padding: 0;
}

.title {
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #c1c1c1;
}

@media (max-width: 2300px) {
  .confirmation-dialog > div:nth-child(2) {
    max-width: 90% !important;
  }
}
@media (min-width: 2301px) {
  .confirmation-dialog > div:nth-child(2) {
    max-width: 2000px !important;
  }
}
