.node_root {
  cursor: pointer;
}

.node_root circle:hover {
  animation-name: zoomIn;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes zoomIn {
  0% { transform: scale(1); }
  40% { transform: scale(1.15); }
  100% { transform: scale(1.1); }
}

.node_text {
  font-size:12px;
}
