.root {
  padding: 20px;
  height: calc(100% - 10px);
  overflow: auto;
}

.title {
  /* font-size: 1.6em;
  font-weight: normal; */
  margin-left: 10px;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.invitationsHeader {
  position: relative;
}

.invitationsHeader h3 {
  margin-right: 20px;
  margin-top: 12px;
}

.tableContainer {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.sectionContainer {
  height: calc(100vh - 195px);
  overflow-y: auto;
  padding: 0;
  margin-top: 30px;
}

.content {
  min-height: 100%;
  margin-top: -20px;
  padding: 0px;
}

.sectionTitle {
  width: 100%;
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 2px;
}

.inputField {
  border: 1px solid lightgray!important;
  border-radius: 5px;
  font-size: 14px!important;
  padding: 0px 12px 0px 12px;
  font-family: Montserrat, sans-serif;
  width: 100%;
  /* min-width: 150px;
  max-width: 179px; */
  height: 30px;
}

.inputFieldFocused {
  border-color: black!important;
}

.expandCollapseContainer {
  width: 100%;
  text-align: right;
  position: absolute;
  margin-top: -21px;
  right: 10px;
}
.expandCollapseContainer .expandCollapse {
  font-size: 13px !important;
  text-transform: unset !important;
  padding: 0px;
  margin: 0px;
}
.expandCollapseContainer:hover .expandCollapse:hover {
  background-color: white;
}

.discard {
  margin: 5px;
  right: 185px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  margin-top: -60px;
  /* background-color: #166796; */
  /* margin-right: 80%; */
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.submit {
  margin: 5px;
  right: 5px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  margin-top: -60px;
  background-color: #166796;
  /* margin-right: 80%; */
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
.submitDisabled {
  margin: 5px;
  right: 5px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  margin-top: -60px;
  background-color: gray;
  color: lightgray;
  /* margin-right: 80%; */
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.submit:hover {
  background-color: #267cae;
}
