.root {
  padding: 0px;
  position: relative;
  height: 100%;
  width: 100%;
}
.root svg {
  padding: 0px;
  margin: 0px;
}

text {
  font-family: sans-serif;
  font-size: 16px;
  pointer-events: none;
}

.nextNodesButtons {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nextNodesButtons .previousNext {
  font-size: 14px !important;
  text-transform: unset !important;
  padding-right: 0px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.arrow_box_bottom {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #8398a6;
  border-radius: 10px;
  z-index: 5000;
  padding: 10px 15px 10px 15px;
  margin-top: 15px;
  transform: translateX(-50%);
  width: 270px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}
.arrow_box_bottom:after, .arrow_box_bottom:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_bottom:after {
  border-color: rgba(252, 252, 252, 0);
  border-bottom-color: #fafafa;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box_bottom:before {
  border-color: rgba(131, 152, 166, 0);
  border-bottom-color: #8398a6;
  border-width: 13px;
  margin-left: -13px;
}

.arrow_box_up {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #8398a6;
  border-radius: 10px;
  z-index: 5000;
  padding: 10px 15px 10px 15px;
  transform: translateX(-50%) translateY(-100%);
  width: 270px;
  margin-top: -20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.arrow_box_up:after, .arrow_box_up:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_up:after {
  border-color: rgba(252, 252, 252, 0);
  border-top-color: #fafafa;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box_up:before {
  border-color: rgba(131, 152, 166, 0);
  border-top-color: #8398a6;
  border-width: 13px;
  margin-left: -13px;
}

.modalRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #8398a6;
}

.modalRow:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

.modalRow span:last-child {
  font-weight: 600;
}
